.videoRow{
    display: flex;
    margin-bottom: 30px;
    max-width: 700px;
}
.videoRow > img {
    object-fit: contain;
    width: 246px;
    height: 138px;
}
.videoRow__text{
    margin-left: 14px;
}
.videoRow__text > h3 {
   margin: 0 0 10px 0;
}
.videoRow__headline{
    font-size: 0.8em;
    color: #606060;
}
.videoRow__description{
    margin-top: 20px;
    font-size: 0.8em;
    color: #606060;
}
.videoRow__subsNumber{
    color: rgb(84, 157, 211);
}
.videoRow__subs{
    background-color: lightgray;
    padding: 2px;
}